doctype
html
  head
    meta(charset="UTF-8")
    title Chatroom of Requirement
    link(rel="stylesheet",href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css")
    link(rel="stylesheet", href="/layout.css")
  body
    #sidebar.sidebar
    #chat.chat
      #room.topper
        input#rrominput
      #board
        #messages
      form#entrybox
        input#nameinput(value="Anonymous")
        input#msginput
        button(type="submit") Send
    script(src="/primus/primus.js")
    script(src="/client.js")
